<div class="question layout-{{ layout }}" id="{{ number }}">
    <div class="question-text">{{ number }}: {{ question }}</div>
    {% if picture_question %}
      <div class="question-picture"><img src="pictures/{{ picture_question }}.svg" alt="{{ alt_text_question }}"></div>
    {% endif %}
    <div>
        {% if answers[0] %}
            <b>Richtig:</b> {{ answers[0] }} <br/>
            <b>Falsch: </b> {{ answers[1] }} <br/>
            <b>Falsch: </b> {{ answers[2] }} <br/>
            <b>Falsch: </b> {{ answers[3] }} <br/>
        {% endif %}
        {% if answer_pictures[0] %}
            <b>Richtig:</b> <div class="question-picture"><img src="pictures/{{ answer_pictures[0] }}.svg" alt="{{ alt_text_answers[0] }}"></div><br/>
            <b>Falsch: </b> <div class="question-picture"><img src="pictures/{{ answer_pictures[1] }}.svg" alt="{{ alt_text_answers[1] }}"></div><br/>
            <b>Falsch: </b> <div class="question-picture"><img src="pictures/{{ answer_pictures[2] }}.svg" alt="{{ alt_text_answers[2] }}"></div><br/>
            <b>Falsch: </b> <div class="question-picture"><img src="pictures/{{ answer_pictures[3] }}.svg" alt="{{ alt_text_answers[3] }}"></div><br/>
        {% endif %}
    </div>
  </div>
  
  